*{
    text-align: center;
}
#mainTopic{
    color: rgb(00, 00, 225);
}
h1,h3,h5{
    font-family: Georgia;
}

.container{
    color: white;
    background-color: cornflowerblue;
}

div button{
    color: purple;
    background-color: azure;
}

button:hover{
    color: blue;
    background-color: yellow;
    cursor: pointer;
}

.container:nth-of-type(2n-1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

#yes:checked+label{
    font-size: 50px;
    font-weight: 900;
    color: darkgreen;
}

